section.section.bannerwrap.clearfix
	#bannerwrap.rev_slider_wrapper.fullscreen-container
		#banner001.rev_slider.fullscreenbanner(data-version="5.1.1RC")
			ul
				//- SLIDE
				li(data-transition="random-static" data-thumb="img/banner/1.jpg")
					//- MAIN IMAGE
					img(src="img/banner/1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina)
				//- SLIDE
				li(data-transition="random-static" data-thumb="img/banner/2.jpg")
					//- MAIN IMAGE
					img(src="img/banner/2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina)
				//- SLIDE
				li(data-transition="random-static" data-thumb="img/banner/3.jpg")
					//- MAIN IMAGE
					img(src="img/banner/3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina)
				li(data-transition="random-static" data-thumb="img/banner/4.jpg")
					//- MAIN IMAGE
					img(src="img/banner/4.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina)
	.container
		a.btn-down(href="#2Page") <span class="lnr lnr-chevron-down"></span>
