+breadcrumb("Quan hệ cổ đông","img/breadcrumb/1.jpg")
nav.topbar.clearfix
	.container
		ul 
			li
				a(href="#") Công bố thông tin
			li
				a(href="#") Báo cáo tài chính
			li.active
				a(href="codong.html") Báo cáo thường niên
			li
				a(href="#") Báo cáo quản trị
			li
				a(href="#") Báo cáo đại hội cổ đông
.container
	section.news-page.clearfix
		h1.pagetitle Báo cáo thường niên
		.table-responsive
			table.table.table-codong
				thead
					tr 
						th Văn bản
						th Ngày ban hành
						th Tải về
				tbody
					tr 
						td Báo cáo thường niên 2016
						td 30/01/2017
						td 
							a.download(href="#") <i class="fa fa-download" aria-hidden="true"></i>
					tr 
						td Báo cáo thường niên 2015
						td 30/01/2016
						td 
							a.download(href="#") <i class="fa fa-download" aria-hidden="true"></i>
					tr 
						td Báo cáo thường niên 2014
						td 30/01/2015
						td 
							a.download(href="#") <i class="fa fa-download" aria-hidden="true"></i>
					tr 
						td Báo cáo thường niên 2013
						td 30/01/2014
						td 
							a.download(href="#") <i class="fa fa-download" aria-hidden="true"></i>
					tr 
						td Báo cáo thường niên 2012
						td 30/01/2013
						td 
							a.download(href="#") <i class="fa fa-download" aria-hidden="true"></i>
					tr 
						td Báo cáo thường niên 2011
						td 30/01/2012
						td 
							a.download(href="#") <i class="fa fa-download" aria-hidden="true"></i>
		.share
			img(src="img/share.jpg", alt="")
		//- .col-xs-12.col-lg-3
			nav.news-sidebar.clearfix
				h3.sidebartitle Quan hệ cổ đông
				ul 
					li
						a(href="#") Thông tin chứng khoán
					li
						a(href="#") Thông tin dành cho cổ đông
					li.active
						a(href="codong.html") Báo cáo thường niên
					li
						a(href="#") Báo cáo tài chính
					li
						a(href="#") Đại hội cổ đông thường niên
			//- section.news-video.clearfix
				h3.sidebartitle Video công ty
				.video
					figure
						.videoimg
							img(src="img/news/n1.jpg", alt="alt")
							a.play(href="https://www.youtube.com/embed/dNd7f2REEYQ" data-fancybox)
						figcaption 
							h3.videoname
								a(href="#") Liên hoan văn nghệ chào mừng 30/04
				.video 
					figure
						figcaption
							h3.videoname 
								a(href="#") Lễ trao giải nhân viên xuất sắc
				.video 
					figure
						figcaption
							h3.videoname 
								a(href="#") Trao tặng huân chương lao động
				a.btn-viewmore(href="#") Xem thêm
			//- section.news-album.clearfix
				h3.sidebartitle Hình ảnh hoạt động
				.albumlist
					.pic
						a.img(href="img/news/n1.jpg" data-fancybox="gal1")
							img(src="img/news/n1.jpg", alt="")
					.pic
						a.img(href="img/news/n2.jpg" data-fancybox="gal1")
							img(src="img/news/n2.jpg", alt="")
					.pic
						a.img(href="img/news/n3.jpg" data-fancybox="gal1")
							img(src="img/news/n3.jpg", alt="")
					.pic
						a.img(href="img/news/n4.jpg" data-fancybox="gal1")
							img(src="img/news/n4.jpg", alt="")
					.pic
						a.img(href="img/news/n5.jpg" data-fancybox="gal1")
							img(src="img/news/n5.jpg", alt="")
					.pic
						a.img(href="img/news/n6.jpg" data-fancybox="gal1")
							img(src="img/news/n6.jpg", alt="")
					.pic
						a.img(href="img/news/n4.jpg" data-fancybox="gal1")
							img(src="img/news/n7.jpg", alt="")
					.pic
						a.img(href="img/news/n5.jpg" data-fancybox="gal1")
							img(src="img/news/n8.jpg", alt="")
					.pic
						a.img(href="img/news/n6.jpg" data-fancybox="gal1")
							img(src="img/news/n1.jpg", alt="")
				a.btn-viewmore(href="#") Xem thêm