+breadcrumb("Dịch vụ","img/breadcrumb/1.jpg")
section.service-page.clearfix
	.container
		h1.pagetitle Dịch vụ
		.servicelist.clearfix
			.row.flex.flex-wrap.flex-content-center
				article.col-xs-12.col-md-6.col-lg-4
					.servicecol
						figure
							a.serviceimg(href="#")
								img(src="img/banner/2.jpg", alt="alt")
							figcaption 
								h2.servicename
									a(href="#") Vận chuyển hàng hóa bằng đường bộ và đường thủy
				article.col-xs-12.col-md-6.col-lg-4
					.servicecol
						figure
							a.serviceimg(href="dichvu2.html")
								img(src="img/service/s2.jpg", alt="alt")
							figcaption 
								h2.servicename
									a(href="dichvu2.html") Dịch vụ cho thuê xe
				article.col-xs-12.col-md-6.col-lg-4
					.servicecol
						figure
							a.serviceimg(href="#")
								img(src="img/banner/4.jpg", alt="alt")
							figcaption 
								h2.servicename
									a(href="#") Thương mại và dịch vụ kỹ thuật