+breadcrumb("Giới thiệu","img/breadcrumb/1.jpg")
nav.topbar.clearfix
	.container
		ul 
			li.active
				a(href="gioithieu.html") Giới thiệu chung
			li 
				a(href="gioithieu2.html") Tầm nhìn - Sứ mệnh - Giá trị cốt lõi
			li 
				a(href="gioithieu3.html") Chặng đường phát triển
			li 
				a(href="gioithieu4.html") Cơ cấu tổ chức
section.about-page.clearfix
	.container
		h1.pagetitle Giới thiệu chung
		.row.flex.flex-wrap 
			.col-xs-12.col-lg-6
				.about-img
					img(src="img/about/aboutimg.jpg", alt="")
			.col-xs-12.col-lg-6
				ul.about-info
					li 
						.label Tên công ty
						.value Công Ty Cổ Phần Dịch Vụ Vận Tải Dầu Khí Cửu Long
					li 
						.label Tên tiếng Anh
						.value Cuu Long Petro Gas Services Transportation J.S.C
					li 
						.label Giấy chứng nhận đăng ký doanh nghiệp
						.value Giấy phép số 91/GP-CBC của Bộ thông tin và truyền thông- Cục báo chí
					li 
						.label Trụ sở chính
						.value Tầng 3, tòa nhà PJICO TOWER, 186 Điện Biên Phủ, P6, Q3, TP. HCM
					li 
						.label Điện thoại
						.value 
							a(href="tel:(84-8) 6 2582331 ") (84-8) 6 2582331
					li 
						.label Fax
						.value (84-8) 6 2582334 
					li 
						.label Ngành nghề hoạt động
						.value Dịch vụ vận chuyển hàng hóa bằng đường bộ và đường thủy; Dịch vụ cho thuê xe văn phòng - xe du lịch chất lượng cao; Dịch vụ thương mại kỹ thuật dầu khí.
