+breadcrumb("Giới thiệu","img/breadcrumb/1.jpg")
nav.topbar.clearfix
	.container
		ul 
			li
				a(href="gioithieu.html") Giới thiệu chung
			li
				a(href="gioithieu2.html") Tầm nhìn - Sứ mệnh - Giá trị cốt lõi
			li.active
				a(href="gioithieu3.html") Chặng đường phát triển
			li 
				a(href="gioithieu4.html") Cơ cấu tổ chức
section.about-page.clearfix
	.container
		h1.pagetitle Chặng đường phát triển
		.historywrap.clearfix
			.history-slide.history-img
				.item
					.img
						img(src="img/banner/1.jpg", alt="")
				.item
					.img
						img(src="img/banner/2.jpg", alt="")
				.item
					.img
						img(src="img/banner/3.jpg", alt="")
				.item
					.img
						img(src="img/banner/4.jpg", alt="")
				.item
					.img
						img(src="img/banner/5.jpg", alt="")
				.item
					.img
						img(src="img/banner/6.jpg", alt="")
				.item
					.img
						img(src="img/banner/7.jpg", alt="")
				.item
					.img
						img(src="img/banner/8.jpg", alt="")
			.container
				.history-slide.history-year
					.item
						.year 1977
					.item
						.year 1978
					.item
						.year 1988
					.item
						.year 1994
					.item
						.year 1999
					.item
						.year 2011
					.item
						.year 2015
					.item
						.year 2017
				.history-slide.history-content
					.item
						.row.flex.flex-wrap
							.col-xs-12.col-lg-10.offset-lg-1
								.content 1977 Hơn 09 năm họat động – Một chặng đường phát triển lớn mạnh, hiệu quả, an toàn và chuyên nghiệp. Khẳng định bản lĩnh, tự tin, năng động và nhiệt huyết.
					.item
						.row.flex.flex-wrap
							.col-xs-12.col-lg-10.offset-lg-1
								.content 1978 Hơn 09 năm họat động – Một chặng đường phát triển lớn mạnh, hiệu quả, an toàn và chuyên nghiệp. Khẳng định bản lĩnh, tự tin, năng động và nhiệt huyết.
					.item
						.row.flex.flex-wrap
							.col-xs-12.col-lg-10.offset-lg-1
								.content 1988 Hơn 09 năm họat động – Một chặng đường phát triển lớn mạnh, hiệu quả, an toàn và chuyên nghiệp. Khẳng định bản lĩnh, tự tin, năng động và nhiệt huyết.
					.item
						.row.flex.flex-wrap
							.col-xs-12.col-lg-10.offset-lg-1
								.content 1994 Hơn 09 năm họat động – Một chặng đường phát triển lớn mạnh, hiệu quả, an toàn và chuyên nghiệp. Khẳng định bản lĩnh, tự tin, năng động và nhiệt huyết.
					.item
						.row.flex.flex-wrap
							.col-xs-12.col-lg-10.offset-lg-1
								.content 1999 Hơn 09 năm họat động – Một chặng đường phát triển lớn mạnh, hiệu quả, an toàn và chuyên nghiệp. Khẳng định bản lĩnh, tự tin, năng động và nhiệt huyết.
					.item
						.row.flex.flex-wrap
							.col-xs-12.col-lg-10.offset-lg-1
								.content 2011 Hơn 09 năm họat động – Một chặng đường phát triển lớn mạnh, hiệu quả, an toàn và chuyên nghiệp. Khẳng định bản lĩnh, tự tin, năng động và nhiệt huyết.
					.item
						.row.flex.flex-wrap
							.col-xs-12.col-lg-10.offset-lg-1
								.content 2015 Hơn 09 năm họat động – Một chặng đường phát triển lớn mạnh, hiệu quả, an toàn và chuyên nghiệp. Khẳng định bản lĩnh, tự tin, năng động và nhiệt huyết.
					.item
						.row.flex.flex-wrap
							.col-xs-12.col-lg-10.offset-lg-1
								.content 2017 Hơn 09 năm họat động – Một chặng đường phát triển lớn mạnh, hiệu quả, an toàn và chuyên nghiệp. Khẳng định bản lĩnh, tự tin, năng động và nhiệt huyết.
				.history-slide.history-nav
					.item
						.year 1977
					.item
						.year 1978
					.item
						.year 1988
					.item
						.year 1994
					.item
						.year 1999
					.item
						.year 2011
					.item
						.year 2015
					.item
						.year 2017
		//- .about-history.clearfix
			.start
				<i class="fa fa-home" aria-hidden="true"></i>
			.history-wrap.clearfix
				.milestone
					.year Hiện nay
					figure
						.picture
							img(src="img/about/h4.jpg", alt="")
						figcaption
							.event 
								p Hơn 09 năm họat động – Một chặng đường phát triển lớn mạnh, hiệu quả, an toàn và chuyên nghiệp. Khẳng định bản lĩnh, tự tin, năng động và nhiệt huyết.
				.milestone
					.year 2009
					figure
						.picture
							img(src="img/about/h3.jpg", alt="")
						figcaption
							.event 
								p Sau bao khó khăn và thách thức, Công ty đã thành lập thêm các chi nhánh ở các tỉnh phía Bắc
				.milestone
					.year 2008
					figure
						.picture
							img(src="img/about/h2.jpg", alt="")
						figcaption
							.event 
								p Thành lập thêm 2 Chi nhánh tại phía Nam
				.milestone
					.year 06/2007
					figure
						.picture
							img(src="img/about/h1.jpg", alt="")
						figcaption
							.event 
								p Thành lập công ty