+breadcrumb("Giới thiệu","img/breadcrumb/1.jpg")
nav.topbar.clearfix
	.container
		ul 
			li
				a(href="gioithieu.html") Giới thiệu chung
			li.active
				a(href="gioithieu2.html") Tầm nhìn - Sứ mệnh - Giá trị cốt lõi
			li 
				a(href="gioithieu3.html") Chặng đường phát triển
			li 
				a(href="gioithieu4.html") Cơ cấu tổ chức
section.about-page.clearfix
	.container
		h1.pagetitle Tầm nhìn - Sứ mệnh - Giá trị cốt lõi
		.about-value.clearfix
			.value-col
				figure
					.value-img
						img(src="img/about/v1.jpg", alt="alt")
					figcaption 
						.value-title Tầm nhìn
						.value-des
							p Là công ty tiên phong trong việc sáng tạo các sản phẩm chất lượng và dịch vụ hoàn hảo nhằm mang đến sự tiện nghi cho người sử dụng.
							p Phát triển bền vừng, ổn định vươn mình trở thành một trong những công ty hàng đầu tại Việt Nam.
			.value-col
				figure
					.value-img
						img(src="img/about/v2.jpg", alt="alt")
					figcaption 
						.value-title Sứ mệnh
						.value-des
							p Thiết lập mối quan hệ thân thiết, bền vững và tin cậy đối với khách hàng; 
							p Phục vụ chuyên nghiệp và đảm bảo giá trị cho khách hàng;
							p Luôn nỗ lực phấn đấu và sáng tạo trong công việc để mang đến cho khách hàng những sản phẩm và dịch vụ chất lượng cao với giá thành hợp lý nhất.
			.value-col
				figure
					.value-img
						img(src="img/about/v3.jpg", alt="alt")
					figcaption 
						.value-title Giá trị cốt lõi
						.value-des
							p Đối với khách hàng: Tận tụy với khách hàng và luôn phấn đấu để đáp ứng tốt nhất những nhu cầu, mong đợi của khách hàng.
							p Tính chuyên nghiệp: Không ngừng nghiên cứu và phát triển đa dạng hóa về dịch vụ cũng như sản phẩm, kịp thời cung cấp cho thị trường các sản phẩm chất lượng, hoàn hảo, chi phí hợp lý để đáp ứng ngày càng tốt hơn nhu cầu và thị hiếu khách hàng.
							p Nguồn nhân lực: là tài sản và tiềm lực của công ty. Đề cao đạo đức kinh doanh, luôn hợp tác, cởi mở và thân thiện.