+breadcrumb("Giới thiệu","img/breadcrumb/1.jpg")
nav.topbar.clearfix
	.container
		ul 
			li
				a(href="gioithieu.html") Giới thiệu chung
			li
				a(href="gioithieu2.html") Tầm nhìn - Sứ mệnh - Giá trị cốt lõi
			li
				a(href="gioithieu3.html") Chặng đường phát triển
			li.active
				a(href="gioithieu4.html") Cơ cấu tổ chức
section.about-page.clearfix
	.container
		h1.pagetitle Sơ đồ tổ chức
		.about-system.clearfix
			img(src="img/about/sodo.png", alt="")
		h2.pagetitle Ban lãnh đạo
		.about-ceo.clearfix
			.row.flex.flex-wrap
				.col-xs-12.col-lg-6
					.ceo-col
						figure
							.ceo-img
								img(src="img/about/ceo1.jpg", alt="")
							figcaption
								h3.ceo-name Ông Phạm Quang Huy
								.ceo-cv Chủ tịch Hội Đồng Quản Trị
								ul.ceo-des
									li Nhiều năm kinh nghiệm trong ngành tài chính.
									li Thạc sỹ Quản trị Kinh doanh chuyên ngành Tài Chính
				.col-xs-12.col-lg-6
					.ceo-col
						figure
							.ceo-img
								img(src="img/about/ceo2.jpg", alt="")
							figcaption
								h3.ceo-name Ông Dương Vũ Phong
								.ceo-cv Giám đốc Công ty kiêm Giám đốc Chi nhánh Côn Sơn 
								ul.ceo-des
									li Ông gia nhập công ty từ năm 2007 và đảm nhận nhiều chức vụ quan trọng trong thời gian dài.
				.col-xs-12.col-lg-6
					.ceo-col
						figure
							.ceo-img
								img(src="img/about/ceo3.jpg", alt="")
							figcaption
								h3.ceo-name Ông Lê Văn Phong
								.ceo-cv Phó Giám đốc Công ty kiêm Giám đốc Chi nhánh Đại Hùng
								ul.ceo-des
									li Đảm nhận nhiều chức vụ quan trọng trong nhiều đơn vị.
									li Kỹ sư Công Nghệ Hóa dầy dặn kinh nghiệm
				.col-xs-12.col-lg-6
					.ceo-col
						figure
							.ceo-img
								img(src="img/about/ceo4.jpg", alt="")
							figcaption
								h3.ceo-name Ông Phan Thanh Hà
								.ceo-cv Phó Giám đốc Công ty kiêm Giám đốc Chi nhánh Miền Bắc
								ul.ceo-des
									li Đảm nhận nhiều chức vụ quan trọng trong nhiều đơn vị.
									li Kỹ sư Công nghệ Hóa dầy dặn kinh nghiệm
				//- .col-xs-12.col-lg-6
					.ceo-col
						figure
							.ceo-img
								img(src="img/about/ceo5.jpg", alt="")
							figcaption
								h3.ceo-name Ông Lương Minh Dương
								.ceo-cv Kế toán trưởng Công ty
								//- ul.ceo-des
									//- li Đảm nhận nhiều chức vụ quan trọng trong nhiều đơn vị.
									//- li Kỹ sư Công nghệ Hóa dầy dặn kinh nghiệm
		h2.pagetitle Đội ngũ nhân sự
		.about-staff.clearfix
			.row.flex.flex-wrap.flex-content-center
				.col-xs-12.col-md-6.col-lg-4
					.staff-col
						figure
							a.staff-img(href="img/about/nv1.jpg" data-fancybox="gal1")
								img(src="img/about/nv.jpg", alt="")
							figcaption
								h3.staff-name Đội ngũ nhân viên văn phòng
								.imglist
									a(href="img/about/nv1.jpg" data-fancybox="gal1")
									a(href="img/about/nv2.jpg" data-fancybox="gal1")
									a(href="img/about/nv3.jpg" data-fancybox="gal1")
									a(href="img/about/nv4.jpg" data-fancybox="gal1")
				.col-xs-12.col-md-6.col-lg-4
					.staff-col
						figure
							a.staff-img(href="img/about/lx1.jpg" data-fancybox="gal2")
								img(src="img/about/lx.jpg", alt="")
							figcaption
								h3.staff-name Đội ngũ lái xe
								.imglist
									a(href="img/about/lx2.jpg" data-fancybox="gal2")
									a(href="img/about/lx3.jpg" data-fancybox="gal2")
									a(href="img/about/lx4.jpg" data-fancybox="gal2")
									a(href="img/about/lx5.jpg" data-fancybox="gal2")
				.col-xs-12.col-md-6.col-lg-4
					.staff-col
						figure
							a.staff-img(href="img/about/cn.jpg" data-fancybox="gal3")
								img(src="img/about/cn.jpg", alt="")
							figcaption
								h3.staff-name Đội ngũ kỹ sư
								.imglist
									a(href="img/about/cn.jpg" data-fancybox="gal3")
									a(href="img/about/cn.jpg" data-fancybox="gal3")
									a(href="img/about/cn.jpg" data-fancybox="gal3")
									a(href="img/about/cn.jpg" data-fancybox="gal3")
		h2.pagetitle Đơn vị thành viên
		.about-member.clearfix
			.row.flex.flex-wrap.flex-content-center
				.col-xs-12.col-md-6.col-lg-4
					.member-col
						figure
							.member-img
								img(src="img/about/dv1.jpg", alt="alt")
							figcaption 
								h1.member-name
									a(href="#") Chi nhánh côn sơn
								.addr <i class="fa fa-map-marker" aria-hidden="true"></i>8 Đường Tôn Đức Thắng, Côn Đảo, Tỉnh Bà Rịa, Vũng Tàu
									br
									|Hotline: 
									a(href="tel:(055) 3610559") (055) 3610559
									br
									|Điện thoại: 
									a(href="tel:(055) 3610593") (055) 3610593
				.col-xs-12.col-md-6.col-lg-4
					.member-col
						figure
							.member-img
								img(src="img/about/dv2.jpg", alt="alt")
							figcaption 
								h1.member-name
									a(href="#") Chi nhánh Đại Hùng
								.addr <i class="fa fa-map-marker" aria-hidden="true"></i>8 Đường Tôn Đức Thắng, Côn Đảo, Tỉnh Bà Rịa, Vũng Tàu
									br
									|Hotline: 
									a(href="tel:(055) 3610559") (055) 3610559
									br
									|Điện thoại: 
									a(href="tel:(055) 3610593") (055) 3610593
				.col-xs-12.col-md-6.col-lg-4
					.member-col
						figure
							.member-img
								img(src="img/about/dv3.jpg", alt="alt")
							figcaption 
								h1.member-name
									a(href="#") Chi nhánh Miền Bắc
								.addr <i class="fa fa-map-marker" aria-hidden="true"></i>8 Đường Tôn Đức Thắng, Côn Đảo, Tỉnh Bà Rịa, Vũng Tàu
									br
									|Hotline: 
									a(href="tel:(055) 3610559") (055) 3610559
									br
									|Điện thoại: 
									a(href="tel:(055) 3610593") (055) 3610593



