include banner

section.section.home-service.clearfix
	.service-slide 
		.item
			.img(style="background: url(img/banner/6.jpg) center center no-repeat;background-size: cover")
		.item
			.img(style="background: url(img/banner/8.jpg) center center no-repeat;background-size: cover")
	.container
		h1.service-name 
			a(href="#") Vận chuyển hàng hóa bằng đường bộ và đường thủy
		a.btn-down(href="#3Page") <span class="lnr lnr-chevron-down"></span>

section.section.home-service.clearfix(style="background: url(img/banner/5.jpg) center center no-repeat;background-size: cover")
	.container
		h2.service-name
			a(href="#")  Dịch vụ cho thuê xe
		a.btn-down(href="#4Page") <span class="lnr lnr-chevron-down"></span>

section.section.home-service.clearfix(style="background: url(img/banner/4.jpg) center center no-repeat;background-size: cover")
	.container
		h2.service-name 
			a(href="#") Thương mại và dịch vụ kỹ thuật
		a.btn-down(href="#5Page") <span class="lnr lnr-chevron-down"></span>

section.section.home-news.clearfix
	.container
		h2.headtitle Thông tin mới
		.newslist.clearfix
			.item
				.newscol
					figure
						a.newsimg(href="#")
							img(src="img/news/1.jpg", alt="")
						figcaption
							time 12/11/2016 - 03:00 PM
							h3.newsname
								a(href="#") Gỡ nút thắt giao thông cho Đồng Bằng Sông Cửu Long
							.newsdes Các cảng biển lớn ở đồng bằng sông Cửu Long có cơ hội lần đầu đón tàu biển trọng tải đến 20.000 tấn khi luồng sông Hậu được đưa vào khai thác.
			.item
				.newscol
					figure
						a.newsimg(href="#")
							img(src="img/news/2.jpg", alt="")
						figcaption
							time 12/11/2016 - 03:00 PM
							h3.newsname
								a(href="#") Gỡ nút thắt giao thông cho Đồng Bằng Sông Cửu Long
							.newsdes Các cảng biển lớn ở đồng bằng sông Cửu Long có cơ hội lần đầu đón tàu biển trọng tải đến 20.000 tấn khi luồng sông Hậu được đưa vào khai thác.
			.item
				.newscol
					figure
						a.newsimg(href="#")
							img(src="img/news/3.jpg", alt="")
						figcaption
							time 12/11/2016 - 03:00 PM
							h3.newsname
								a(href="#") Gỡ nút thắt giao thông cho Đồng Bằng Sông Cửu Long
							.newsdes Các cảng biển lớn ở đồng bằng sông Cửu Long có cơ hội lần đầu đón tàu biển trọng tải đến 20.000 tấn khi luồng sông Hậu được đưa vào khai thác.
			.item
				.newscol
					figure
						a.newsimg(href="#")
							img(src="img/news/4.jpg", alt="")
						figcaption
							time 12/11/2016 - 03:00 PM
							h3.newsname
								a(href="#") Gỡ nút thắt giao thông cho Đồng Bằng Sông Cửu Long
							.newsdes Các cảng biển lớn ở đồng bằng sông Cửu Long có cơ hội lần đầu đón tàu biển trọng tải đến 20.000 tấn khi luồng sông Hậu được đưa vào khai thác.
		.row.flex.flex-wrap
			.col-xs-12.col-lg-8
				h3.pagetitle Đối tác khách hàng
				.partnerlist
					.item
						a.img(href="#")
							img(src="img/partner/1.jpg", alt="")
					.item
						a.img(href="#")
							img(src="img/partner/2.jpg", alt="")
					.item
						a.img(href="#")
							img(src="img/partner/3.jpg", alt="")
					.item
						a.img(href="#")
							img(src="img/partner/4.jpg", alt="")
					//- .item
						//- a.img(href="#")
							img(src="img/partner/5.jpg", alt="")
					//- .item
						a.img(href="#")
							img(src="img/partner/6.jpg", alt="")
			.col-xs-12.col-lg-4
				h3.pagetitle Chứng nhận chất lượng
				.certlist
					.item
						a.img(href="#")
							img(src="img/partner/5.jpg", alt="")
					.item
						a.img(href="#")
							img(src="img/partner/6.jpg", alt="")
					//- .item
						a.img(href="#")
							img(src="img/partner/1.jpg", alt="")
					//- .item
						a.img(href="#")
							img(src="img/partner/2.jpg", alt="")
					//- .item
						a.img(href="#")
							img(src="img/partner/3.jpg", alt="")
					//- .item
						a.img(href="#")
							img(src="img/partner/4.jpg", alt="")
		a.btn-down(href="#lastPage") <span class="lnr lnr-chevron-down"></span>
section.section.home-footer.clearfix(style="background: url(img/banner/7.jpg) center center no-repeat;background-size: cover")
	.footerintro.text-xs-center
		.container
			.sitelogo
				a(href="index.html")
					img(src="img/logo2.png", alt="")
			.contactinfo
				ul 
					li Tầng 3, toà nhà Pjico, 186 Điện Biên Phủ, Phường 6, Quận 3, TpHcm
					li Tel: 
						a(href="tel:08 62582330") 08 62582330 
						|/ 
						a(href="tel:08 62582331") 08 62582331
					li Fax: 08 62582334 
					li Email: 
						a(href="mailto:contact@pct.com.vn") contact@pct.com.vn
	.footermain.clearfix
		.container
			.footertop.clearfix
				.social
					.module-title Theo dõi chúng tôi:
					.social-link.clearfix
						a.fa.fa-facebook(href="#")
						a.fa.fa-linkedin(href="#")
						a.fa.fa-google-plus(href="#")
						a.fa.fa-twitter(href="#")
				.subscribe.clearfix
					.module-title Đăng ký nhận bản tin:
					.subscribefrm.clearfix
						input(type="text", placeholder="Nhập địa chỉ Email...")
						.subscribebutton Đăng ký
			.footerbottom.clearfix
				.copyright Copyright © 2017 PCT. All rights reserved.
				nav.footernav.clearfix
					ul 
						li 
							a(href="#") Về chúng tôi
						li 
							a(href="#") Dịch vụ
						li 
							a(href="#") Tin tức
						li 
							a(href="#") Quan hệ cổ đông
						li 
							a(href="#") Đối tác
						li 
							a(href="#") Liên hệ
