+breadcrumb("Liên hệ","img/breadcrumb/1.jpg")
section.contact-page.clearfix
	.container
		//- h2.pagetitle Liên hệ
		h1.pagetitle Công ty Cổ Phần Dịch vụ Vận tải Dầu Khí Cửu Long
		
		section.contact-maps.clearfix
			ul.nav.nav-tabs(role='tablist')
				li.nav-item
					a.nav-link.active(data-toggle='tab', href='#tab1', role='tab')
						.contact-info
							.company Trụ sở chính
							ul 
								li <i class="fa fa-location-arrow" aria-hidden="true"></i> Tầng 3, tòa nhà Pjico Tower, 186 Điện Biên Phủ, P.6, Quận 3, TP. Hồ Chí Minh.
								li <i class="fa fa-phone" aria-hidden="true"></i>(08) 2582 330 - (08) 2582 331
								li <i class="fa fa-fax" aria-hidden="true"></i>(08) 2582 334
								li <i class="fa fa-envelope" aria-hidden="true"></i>info@pct.com.vn
				li.nav-item
					a.nav-link(data-toggle='tab', href='#tab2', role='tab')
						.contact-info
							.company Chi nhánh Côn Sơn
							ul 
								li <i class="fa fa-location-arrow" aria-hidden="true"></i> 8 Đường Tôn Đức Thắng, Côn Đảo, Tỉnh Bà Rịa, Vũng Tàu
								li <i class="fa fa-phone" aria-hidden="true"></i>(055) 3610559 - 3610593
				li.nav-item
					a.nav-link(data-toggle='tab', href='#tab3', role='tab')
						.contact-info
							.company Chi nhánh Đại Hùng
							ul 
								li <i class="fa fa-location-arrow" aria-hidden="true"></i> 8 Đường Tôn Đức Thắng, Côn Đảo, Tỉnh Bà Rịa, Vũng Tàu
								li <i class="fa fa-phone" aria-hidden="true"></i>(055) 3610559 - 3610593
				li.nav-item
					a.nav-link(data-toggle='tab', href='#tab4', role='tab')
						.contact-info
							.company Chi nhánh miền Bắc
							ul 
								li <i class="fa fa-location-arrow" aria-hidden="true"></i> 8 Đường Tôn Đức Thắng, Côn Đảo, Tỉnh Bà Rịa, Vũng Tàu
								li <i class="fa fa-phone" aria-hidden="true"></i>(055) 3610559 - 3610593
			.tab-content
				#tab1.tab-pane.active(role='tabpanel')
					#map
						iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3578732950355!2d106.68887681538365!3d10.783878492316463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f317f53b3ef%3A0xf1f53a9e77b6b21a!2sPJICO+TOWER!5e0!3m2!1sen!2s!4v1494927444693', width='100%', height='500', frameborder='0', style='border:0', allowfullscreen='')
				#tab2.tab-pane(role='tabpanel')
					#map
						iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3578732950355!2d106.68887681538365!3d10.783878492316463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f317f53b3ef%3A0xf1f53a9e77b6b21a!2sPJICO+TOWER!5e0!3m2!1sen!2s!4v1494927444693', width='100%', height='500', frameborder='0', style='border:0', allowfullscreen='')
				#tab3.tab-pane(role='tabpanel')
					#map
						iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3578732950355!2d106.68887681538365!3d10.783878492316463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f317f53b3ef%3A0xf1f53a9e77b6b21a!2sPJICO+TOWER!5e0!3m2!1sen!2s!4v1494927444693', width='100%', height='500', frameborder='0', style='border:0', allowfullscreen='')
				#tab4.tab-pane(role='tabpanel')
					#map
						iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3578732950355!2d106.68887681538365!3d10.783878492316463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f317f53b3ef%3A0xf1f53a9e77b6b21a!2sPJICO+TOWER!5e0!3m2!1sen!2s!4v1494927444693', width='100%', height='500', frameborder='0', style='border:0', allowfullscreen='')
		h2.pagetitle Ghi nhận liên hệ
		section.contact-form.clearfix
			.module-title Nếu gặp bất kỳ vấn đề, khó khăn gì khi sử dụng trang web hãy liên lạc ngay với chúng tôi để giải đáp thắc mắc cũng như để chúng tôi tư vấn thêm cho bạn khi sử dụng trang web.
			.form-wrap.clearfix
				.form-group.col2
					input(type="text", placeholder="Họ và tên*:")
				.form-group.col2
					select(name="")
						option(value="") Gửi đến*:
				.form-group.col2
					input(type="text", placeholder="Email*:")
				.form-group.col2
					select(name="")
						option(value="") Phòng ban*:
				.form-group.col2
					input(type="text", placeholder="Điện thoại*:")
				.form-group.col2
					input(type="text", placeholder="Tiêu đề*:")
				.form-group
					textarea(name="", cols="30", rows="4", placeholder="Nội dung:")
				.form-group
					label.fileinput(for="#") TẬP TIN ĐÍNH KÈM: (Không quá 10mb)
					input(type="file", name="")
					//- input(type="file", name="")
					//- input(type="file", name="")
					.des Hỗ trợ đính kèm các tập tin định dạng: Word, Excel, Acrobat, Zip, Rar
				//- .captcha Chèn khung CAPTCHA vô đây
				.btnwrap
					input(type="submit", value="Gửi")
						
