+breadcrumb("Tin tức","img/breadcrumb/1.jpg")
section.news-page.clearfix
	.container
		h3.pagetitle TIN PCT
		.newslist.clearfix
			.row.flex.flex-wrap
				.col-xs-12.col-lg-6
					.newscol.big
						figure
							a.newsimg(href="#")
								img(src="img/news/n1.jpg", alt="alt")
							figcaption 
								time 19/05/2017
								h1.newsname
									a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty
								.newsdes Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus autem mollitia enim delectus iure aliquid voluptatem deleniti assumenda alias molestias corrupti, voluptate sint minus inventore modi. Fugiat, provident nihil minus.
				.col-xs-12.col-lg-6
					.row.flex.flex-wrap
						.col-xs-12.col-md-6
							.newscol
								figure
									a.newsimg(href="#")
										img(src="img/news/n2.jpg", alt="alt")
									figcaption 
										time 19/05/2017
										h2.newsname
											a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty
						.col-xs-12.col-md-6
							.newscol
								figure
									a.newsimg(href="#")
										img(src="img/news/n3.jpg", alt="alt")
									figcaption 
										time 19/05/2017
										h2.newsname
											a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty
						.col-xs-12.col-md-6
							.newscol
								figure
									a.newsimg(href="#")
										img(src="img/news/n4.jpg", alt="alt")
									figcaption 
										time 19/05/2017
										h2.newsname
											a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty
						.col-xs-12.col-md-6
							.newscol
								figure
									a.newsimg(href="#")
										img(src="img/news/n5.jpg", alt="alt")
									figcaption 
										time 19/05/2017
										h2.newsname
											a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty
		.row.flex.flex-wrap
			.col-xs-12.col-lg-9
				.newsgroup
					h3.pagetitle TIN ngành dầu khí
					.row.flex.flex-wrap
						.newslist.newslist2.clearfix
							.col-xs-12.col-md-7
								.newscol.big
									figure
										a.newsimg(href="#")
											img(src="img/news/n6.jpg", alt="alt")
										figcaption 
											time 19/05/2017
											h1.newsname
												a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty
											.newsdes Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam maxime dicta ipsum similique, suscipit vitae!
							.col-xs-12.col-md-5
								.newscol
									figure
										figcaption 
											time 19/05/2017
											h1.newsname
												a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty
											//- .newsdes Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam maxime dicta ipsum similique, suscipit vitae!
								.newscol
									figure
										figcaption 
											time 19/05/2017
											h1.newsname
												a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty
											//- .newsdes Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam maxime dicta ipsum similique, suscipit vitae!
								.newscol
									figure
										figcaption 
											time 19/05/2017
											h1.newsname
												a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty
											//- .newsdes Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam maxime dicta ipsum similique, suscipit vitae!
								.newscol
									figure
										figcaption 
											time 19/05/2017
											h1.newsname
												a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty
											//- .newsdes Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam maxime dicta ipsum similique, suscipit vitae!
								a.btn-viewmore(href="#") Xem thêm

				.newsgroup
					h3.pagetitle TIN tức khác
					.row.flex.flex-wrap
						.newslist.newslist2.clearfix
							.col-xs-12.col-md-7
								.newscol.big
									figure
										a.newsimg(href="#")
											img(src="img/news/n7.jpg", alt="alt")
										figcaption 
											time 19/05/2017
											h1.newsname
												a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty
											.newsdes Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam maxime dicta ipsum similique, suscipit vitae!
							.col-xs-12.col-md-5
								.newscol
									figure
										figcaption 
											time 19/05/2017
											h1.newsname
												a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty
											//- .newsdes Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam maxime dicta ipsum similique, suscipit vitae!
								.newscol
									figure
										figcaption 
											time 19/05/2017
											h1.newsname
												a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty
											//- .newsdes Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam maxime dicta ipsum similique, suscipit vitae!
								.newscol
									figure
										figcaption 
											time 19/05/2017
											h1.newsname
												a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty
											//- .newsdes Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam maxime dicta ipsum similique, suscipit vitae!
								.newscol
									figure
										figcaption 
											time 19/05/2017
											h1.newsname
												a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty
											//- .newsdes Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam maxime dicta ipsum similique, suscipit vitae!
								a.btn-viewmore(href="#") Xem thêm
			.col-xs-12.col-lg-3
				section.news-video.clearfix
					h3.sidebartitle Video công ty
					.video
						figure
							.videoimg
								img(src="img/news/n1.jpg", alt="alt")
								a.play(href="https://www.youtube.com/embed/dNd7f2REEYQ" data-fancybox)
							figcaption 
								h3.videoname
									a(href="#") Liên hoan văn nghệ chào mừng 30/04
					.video 
						figure
							figcaption
								h3.videoname 
									a(href="#") Lễ trao giải nhân viên xuất sắc
					.video 
						figure
							figcaption
								h3.videoname 
									a(href="#") Trao tặng huân chương lao động
					a.btn-viewmore(href="#") Xem thêm
				section.news-album.clearfix
					h3.sidebartitle Hình ảnh hoạt động
					.albumlist
						.pic
							a.img(href="img/news/n1.jpg" data-fancybox="gal1")
								img(src="img/news/n1.jpg", alt="")
						.pic
							a.img(href="img/news/n2.jpg" data-fancybox="gal1")
								img(src="img/news/n2.jpg", alt="")
						.pic
							a.img(href="img/news/n3.jpg" data-fancybox="gal1")
								img(src="img/news/n3.jpg", alt="")
						.pic
							a.img(href="img/news/n4.jpg" data-fancybox="gal1")
								img(src="img/news/n4.jpg", alt="")
						.pic
							a.img(href="img/news/n5.jpg" data-fancybox="gal1")
								img(src="img/news/n5.jpg", alt="")
						.pic
							a.img(href="img/news/n6.jpg" data-fancybox="gal1")
								img(src="img/news/n6.jpg", alt="")
						.pic
							a.img(href="img/news/n4.jpg" data-fancybox="gal1")
								img(src="img/news/n7.jpg", alt="")
						.pic
							a.img(href="img/news/n5.jpg" data-fancybox="gal1")
								img(src="img/news/n8.jpg", alt="")
						.pic
							a.img(href="img/news/n6.jpg" data-fancybox="gal1")
								img(src="img/news/n1.jpg", alt="")
					a.btn-viewmore(href="#") Xem thêm