+breadcrumb("Tin tức","img/breadcrumb/1.jpg")
.container
	.row.flex.flex-wrap
		.col-xs-12.col-lg-9
			section.news-page.clearfix
				h1.pagetitle TIN PCT
				.newslist.newslist3.clearfix
					.row.flex.flex-wrap
						article.col-xs-12.col-sm-6.col-md-4
							.newscol
								figure
									a.newsimg(href="#")
										img(src="img/news/n1.jpg", alt="alt")
									figcaption 
										time 19/05/2017
										h1.newsname
											a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty
										.newsdes Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum consectetur unde pariatur autem hic fuga doloribus veritatis similique reiciendis ipsum!
						article.col-xs-12.col-sm-6.col-md-4
							.newscol
								figure
									a.newsimg(href="#")
										img(src="img/news/n2.jpg", alt="alt")
									figcaption 
										time 19/05/2017
										h2.newsname
											a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty
										.newsdes Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum consectetur unde pariatur autem hic fuga doloribus veritatis similique reiciendis ipsum!
						article.col-xs-12.col-sm-6.col-md-4
							.newscol
								figure
									a.newsimg(href="#")
										img(src="img/news/n3.jpg", alt="alt")
									figcaption 
										time 19/05/2017
										h2.newsname
											a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty
										.newsdes Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum consectetur unde pariatur autem hic fuga doloribus veritatis similique reiciendis ipsum!
						article.col-xs-12.col-sm-6.col-md-4
							.newscol
								figure
									a.newsimg(href="#")
										img(src="img/news/n4.jpg", alt="alt")
									figcaption 
										time 19/05/2017
										h2.newsname
											a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty
										.newsdes Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum consectetur unde pariatur autem hic fuga doloribus veritatis similique reiciendis ipsum!
						article.col-xs-12.col-sm-6.col-md-4
							.newscol
								figure
									a.newsimg(href="#")
										img(src="img/news/n5.jpg", alt="alt")
									figcaption 
										time 19/05/2017
										h2.newsname
											a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty
										.newsdes Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum consectetur unde pariatur autem hic fuga doloribus veritatis similique reiciendis ipsum!
						article.col-xs-12.col-sm-6.col-md-4
							.newscol
								figure
									a.newsimg(href="#")
										img(src="img/news/n6.jpg", alt="alt")
									figcaption 
										time 19/05/2017
										h1.newsname
											a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty
										.newsdes Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum consectetur unde pariatur autem hic fuga doloribus veritatis similique reiciendis ipsum!
						article.col-xs-12.col-sm-6.col-md-4
							.newscol
								figure
									a.newsimg(href="#")
										img(src="img/news/n7.jpg", alt="alt")
									figcaption 
										time 19/05/2017
										h2.newsname
											a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty
										.newsdes Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum consectetur unde pariatur autem hic fuga doloribus veritatis similique reiciendis ipsum!
						article.col-xs-12.col-sm-6.col-md-4
							.newscol
								figure
									a.newsimg(href="#")
										img(src="img/news/n8.jpg", alt="alt")
									figcaption 
										time 19/05/2017
										h2.newsname
											a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty
										.newsdes Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum consectetur unde pariatur autem hic fuga doloribus veritatis similique reiciendis ipsum!
						article.col-xs-12.col-sm-6.col-md-4
							.newscol
								figure
									a.newsimg(href="#")
										img(src="img/news/n1.jpg", alt="alt")
									figcaption 
										time 19/05/2017
										h2.newsname
											a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty
										.newsdes Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum consectetur unde pariatur autem hic fuga doloribus veritatis similique reiciendis ipsum!
					.pages
						ul.pagination
							li 
								a(href="#") 1
							li.active
								a(href="#") 2
							li 
								a(href="#") 3
							li 
								a(href="#") 4
		.col-xs-12.col-lg-3
			nav.news-sidebar.clearfix
				h3.sidebartitle Danh mục tin tức
				ul 
					li.active
						a(href="tindanhsach.html") Tin PCT
					li 
						a(href="tindanhsach.html") Tin ngành dầu khí
					li 
						a(href="tindanhsach.html") Tin tức khác
			section.news-video.clearfix
				h3.sidebartitle Video công ty
				.video
					figure
						.videoimg
							img(src="img/news/n1.jpg", alt="alt")
							a.play(href="https://www.youtube.com/embed/dNd7f2REEYQ" data-fancybox)
						figcaption 
							h3.videoname
								a(href="#") Liên hoan văn nghệ chào mừng 30/04
				.video 
					figure
						figcaption
							h3.videoname 
								a(href="#") Lễ trao giải nhân viên xuất sắc
				.video 
					figure
						figcaption
							h3.videoname 
								a(href="#") Trao tặng huân chương lao động
				a.btn-viewmore(href="#") Xem thêm
			section.news-album.clearfix
				h3.sidebartitle Hình ảnh hoạt động
				.albumlist
					.pic
						a.img(href="img/news/n1.jpg" data-fancybox="gal1")
							img(src="img/news/n1.jpg", alt="")
					.pic
						a.img(href="img/news/n2.jpg" data-fancybox="gal1")
							img(src="img/news/n2.jpg", alt="")
					.pic
						a.img(href="img/news/n3.jpg" data-fancybox="gal1")
							img(src="img/news/n3.jpg", alt="")
					.pic
						a.img(href="img/news/n4.jpg" data-fancybox="gal1")
							img(src="img/news/n4.jpg", alt="")
					.pic
						a.img(href="img/news/n5.jpg" data-fancybox="gal1")
							img(src="img/news/n5.jpg", alt="")
					.pic
						a.img(href="img/news/n6.jpg" data-fancybox="gal1")
							img(src="img/news/n6.jpg", alt="")
					.pic
						a.img(href="img/news/n4.jpg" data-fancybox="gal1")
							img(src="img/news/n7.jpg", alt="")
					.pic
						a.img(href="img/news/n5.jpg" data-fancybox="gal1")
							img(src="img/news/n8.jpg", alt="")
					.pic
						a.img(href="img/news/n6.jpg" data-fancybox="gal1")
							img(src="img/news/n1.jpg", alt="")
				a.btn-viewmore(href="#") Xem thêm