+breadcrumb("Tin tức","img/breadcrumb/1.jpg")
.container
	.row.flex.flex-wrap
		.col-xs-12.col-lg-9
			section.news-page.clearfix
				h1.pagetitle Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty và quyền điều hành của Chevron tại Việt Nam
				.newsdetail
					.newsinfo 
						time 2016-04-13, 16:04
						.share
							img(src="img/share.jpg", alt="")
				.content
					p Ngày 17 tháng 6 năm 2015 – Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty và quyền điều hành của Chevron tại Việt Nam, bao gồm: Công ty Chevron Vietnam (Block B) Ltd, nắm giữ 42,38 % quyền lợi tham gia Hợp đồng Chia Sản phẩm (PSC) Lô B & 48/95 và Công ty Chevron Vietnam (Block 52) Ltd nắm giữ 43,40 % quyền lợi tham gia tại Hợp đồng Chia Sản phẩm (PSC) Lô 52/97, ngoài khơi thềm lục địa Việt Nam và Công ty Chevron Southwest Vietnam Pipeline Co. Ltd nắm giữ 28,7% quyền lợi tham gia trong Dự án đường ống dẫn khí tự nhiên khai thác ngoài khơi phía Tây Nam tới các hộ tiêu thụ khí tại Việt Nam.
					figure 
						img(src="img/news/n1.jpg", alt="")
					figure 
						img(src="img/news/n2.jpg", alt="")
					p Từ năm 1996, các Lô B & 48/95 và Lô 52/97 đã được các Nhà thầu triển khai tìm kiếm thăm dò với khối lượng công việc lớn và trên diện rộng. Khu vực diện tích hợp đồng bao gồm 3.200 km2 thuộc Bể Malay – Thổ Chu, ngoài khơi Tây Nam Việt Nam, với độ sâu nước biển dao động từ 60 đến 80m. Kết quả tìm kiếm thăm dò đã có các phát hiện dầu khí quan trọng và được tuyên bố thương mại vào các năm 2002 và năm 2008, hoàn tất Thỏa thuận Phát triển chung vào năm 2007 để đưa các cấu tạo đã phát hiện vào phát triển và khai thác. Với trữ lượng dầu khí tại chỗ mức 2P 6.008 tỷ bộ khối (170 tỷ m3) khí, 4 triệu m3 condensate (25,25 triệu thùng condensate) và trữ lượng dầu khí dự kiến thu hồi 3.785 tỷ bộ khối (107 tỷ m3) khí, 2 triệu m3 condensate (12,65 triệu thùng condensate) đã được các cơ quan hữu quan Việt Nam phê duyệt. Trữ lượng khí này sẽ được gia tăng khi triển khai thêm các hoạt động thăm dò mở rộng tại phần diện tích còn lại của các Hợp đồng PSC.
					p Dự án công trình Đường ống dẫn khí Lô B – Ô Môn được đầu tư xây dựng để vận chuyển khí từ Lô B & 48/95 và Lô 52/97 thuộc vùng biển phía Tây Nam của Việt Nam, cung cấp khí cho cụm nhà máy điện tại Ô Môn, Kiên Giang và bổ sung cho cụm khí điện đạm tại Cà Mau. Tổng vốn đầu tư cho việc phát triển mỏ và xây dựng cụm công trình dự án khí – điện sử dụng Khí Lô B&48/95 và Lô 52/97 dự kiến trên 10 tỷ USD nhằm đáp ứng nhu cầu cho phát điện công suất trên 4000 MW. Chuỗi dự án này sẽ góp phần phát triển mạnh mẽ khu vực Tây Nam bộ.
					p Ông Nguyễn Xuân Sơn, Chủ tịch Hội đồng Thành viên Tập đoàn Dầu khí Việt Nam cho biết:
					p “Dự án Khí Lô B là dự án khai thác dầu khí trọng điểm của Tập đoàn Dầu khí Việt Nam. Dự án có ý nghĩa rất quan trọng, góp phần đảm bảo an ninh năng lượng của đất nước cũng như thúc đẩy phát triển kinh tế - xã hội ở khu vực. Quá trình xây dựng và vận hành chuỗi dự án khai thác, xử lý, vận chuyển, chế biến khí, xây dựng vận hành các nhà máy điện sẽ thúc đẩy mạnh mẽ sự phát triển kinh tế - xã hội các tỉnh Tây Nam Bộ, góp phần bảo vệ môi trường do sử dụng nhiên liệu sạch, ổn định nguồn điện quốc gia, mở ra khả năng nối mạng với hệ thống dẫn khí của các nước trong khu vực.
					p Việc Tập đoàn hoàn tất giao dịch mua lại tài sản của Chevron ở Việt Nam sẽ tạo điều kiện đẩy nhanh tiến độ Phát triển mỏ và các dự án thành phần, sớm đưa nguồn khí vào phục vụ để phát triển nền kinh tế quốc dân”.
					p Các đối tác liên doanh và chính phủ Việt Nam đã thông qua thương vụ mua bán này và có hiệu lực từ ngày hôm nay, 17 tháng 6 năm 2015.
				section.other-news.clearfix
					h3.sidebartitle Các tin khác
					.postlist
						.post
							time 07/06/2017
							h2.postname
								a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty 
						.post
							time 07/06/2017
							h2.postname
								a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty 
						.post
							time 07/06/2017
							h2.postname
								a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty 
						.post
							time 07/06/2017
							h2.postname
								a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty 
						.post
							time 07/06/2017
							h2.postname
								a(href="#") Tập đoàn Dầu khí Việt Nam đã tiếp nhận 100% cổ phần các công ty 
		.col-xs-12.col-lg-3
			nav.news-sidebar.clearfix
				h3.sidebartitle Danh mục tin tức
				ul 
					li.active
						a(href="tindanhsach.html") Tin PCT
					li 
						a(href="tindanhsach.html") Tin ngành dầu khí
					li 
						a(href="tindanhsach.html") Tin tức khác
			section.news-video.clearfix
				h3.sidebartitle Video công ty
				.video
					figure
						.videoimg
							img(src="img/news/n1.jpg", alt="alt")
							a.play(href="https://www.youtube.com/embed/dNd7f2REEYQ" data-fancybox)
						figcaption 
							h3.videoname
								a(href="#") Liên hoan văn nghệ chào mừng 30/04
				.video 
					figure
						figcaption
							h3.videoname 
								a(href="#") Lễ trao giải nhân viên xuất sắc
				.video 
					figure
						figcaption
							h3.videoname 
								a(href="#") Trao tặng huân chương lao động
				a.btn-viewmore(href="#") Xem thêm
			section.news-album.clearfix
				h3.sidebartitle Hình ảnh hoạt động
				.albumlist
					.pic
						a.img(href="img/news/n1.jpg" data-fancybox="gal1")
							img(src="img/news/n1.jpg", alt="")
					.pic
						a.img(href="img/news/n2.jpg" data-fancybox="gal1")
							img(src="img/news/n2.jpg", alt="")
					.pic
						a.img(href="img/news/n3.jpg" data-fancybox="gal1")
							img(src="img/news/n3.jpg", alt="")
					.pic
						a.img(href="img/news/n4.jpg" data-fancybox="gal1")
							img(src="img/news/n4.jpg", alt="")
					.pic
						a.img(href="img/news/n5.jpg" data-fancybox="gal1")
							img(src="img/news/n5.jpg", alt="")
					.pic
						a.img(href="img/news/n6.jpg" data-fancybox="gal1")
							img(src="img/news/n6.jpg", alt="")
					.pic
						a.img(href="img/news/n4.jpg" data-fancybox="gal1")
							img(src="img/news/n7.jpg", alt="")
					.pic
						a.img(href="img/news/n5.jpg" data-fancybox="gal1")
							img(src="img/news/n8.jpg", alt="")
					.pic
						a.img(href="img/news/n6.jpg" data-fancybox="gal1")
							img(src="img/news/n1.jpg", alt="")
				a.btn-viewmore(href="#") Xem thêm