footer
	.footertop.clearfix
		.container
			.row.flex.flex-wrap
				.col-xs-12.col-lg-4.aboutcol
					section.about.clearfix
						.sitelogo
							a(href="#")
								img(src="img/logo2.png", alt="")
						.intro Công ty Cổ Phần Dịch Vụ - Vận Tải Dầu Khí Cửu Long đã xây dựng được một thương hiệu lớn mạnh với gần 300 cán bộ kỹ sư, chuyên gia giỏi về chuyên môn và giàu nhiệt huyết trên mọi miền đất nước.
						.contactinfo
							ul 
								li <i class="fa fa-map-marker" aria-hidden="true"></i>
									span Tầng 3, toà nhà Pjico, 186 Điện Biên Phủ, Phường 6, Quận 3, TpHcm

								li <i class="fa fa-phone" aria-hidden="true"></i>
									a(href="tel:08 62582330") 08 62582330 
									|/ 
									a(href="tel:08 62582331") 08 62582331
								li <i class="fa fa-fax" aria-hidden="true"></i>
									span Fax: 08 62582334 
								
								li <i class="fa fa-envelope" aria-hidden="true"></i>
									a(href="tel:info@pct.com.vn") info@pct.com.vn
								
				.col-xs-12.col-lg-8.footermain.clearfix
					//- .row.flex.flex-wrap
					.footerwrap.flex.flex-wrap
						.col-xs-12.col-md-4
							.footercol
								.title Về chúng tôi
								nav.footerlink
									ul 
										li 
											a(href="#") Giới thiệu chung
										li 
											a(href="#") Tầm nhìn sứ mệnh
										li 
											a(href="#") Chặng đường phát triển
										li 
											a(href="#") Cơ cấu tổ chức
						.col-xs-12.col-md-4
							.footercol
								.title Dịch vụ
								nav.footerlink
									ul 
										li 
											a(href="#") Vận chuyển hàng hóa bằng đường bộ & đường thủy
										li 
											a(href="#") Dịch vụ cho thuê
										li 
											a(href="#") Thương mại & dịch vụ kỹ thuật
						.col-xs-12.col-md-4
							.footercol
								.title Tin tức
								nav.footerlink
									ul 
										li 
											a(href="#") Tin PCT
										li 
											a(href="#") Tin ngành dầu khí
										li 
											a(href="#") Tin tức khác
						.col-xs-12
							.subscribe
								.module-title Đăng ký nhận bản tin
								.subscribefrm
									input(type="text", placeholder="Nhập địa chỉ email...")
									button.subscribebutton Đăng ký
	.footerbottom.clearfix
		.container
			.copyright Copyright © 2017 PCT. All rights reserved. Designed by CanhCam.
			.up <i class="fa fa-chevron-up" aria-hidden="true"></i>