header
	.container
		section.headermain.clearfix
			.btn-showmenu
				span
			section.sitelogo.clearfix
				a.logo1(href="index.html")
					img(src="img/logo.png", alt="")
				a.logo2(href="index.html")
					img(src="img/logo2.png", alt="")
			.searchtoggle.hidden-xl-up
				<i class="fa fa-search" aria-hidden="true"></i>
			.overlay
			section.menu.clearfix
				section.sitelogo.clearfix.hidden-xl-up
					a(href="index.html")
						img(src="img/logo.png", alt="")
				nav.menucontent.clearfix
					.menuwrap.clearfix
						ul.menulink.clearfix
							li.hassub.active
								a(href="index.html") Trang chủ
							li.hassub
								a(href="gioithieu.html") Về chúng tôi
								.btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
								.sub 
									ul 
										li 
											a(href="gioithieu.html") Giới thiệu chung
										li 
											a(href="gioithieu2.html") Tầm nhìn sứ mệnh - Giá trị cốt lõi
										li 
											a(href="gioithieu3.html") Chặng đường phát triển
										li 
											a(href="gioithieu4.html") Cơ cấu tổ chức
							li.hassub
								a(href="dichvu.html") Dịch vụ
								.btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
								.sub 
									ul 
										li 
											a(href="#") Vận chuyển hàng hóa bằng đường bộ & đường thủy
										li 
											a(href="#") Dịch vụ cho thuê xe
										li 
											a(href="#") Thương mại & dịch vụ kỹ thuật
							li.hassub
								a(href="codong.html") Quan hệ cổ đông
								.btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
								.sub 
									ul 
										li
											a(href="#") Công bố thông tin
										li
											a(href="#") Báo cáo tài chính
										li
											a(href="codong.html") Báo cáo thường niên
										li
											a(href="#") Báo cáo quản trị
										li
											a(href="#") Báo cáo đại hội cổ đông
							li.hassub
								a(href="tintuc.html") Tin tức
								.btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
								.sub 
									ul 
										li 
											a(href="tindanhsach.html") Tin PCT
										li 
											a(href="tindanhsach.html") Tin ngành dầu khí
										li 
											a(href="tindanhsach.html") Tin tức khác
							li
								a(href="lienhe.html") Liên hệ
					.tool.clearfix
						.language
							a(href="#")
								img(src="img/vn.png", alt="")
							a(href="#")
								img(src="img/en.png", alt="")
						.searchtoggle.hidden-lg-down
							<i class="fa fa-search" aria-hidden="true"></i>
			.search.clearfix
				input(type="text", placeholder="Search...")
				button.searchbutton <i class="fa fa-search" aria-hidden="true"></i>
	//- .home-popup
		.popupimg
			.btn-closepopup <span class="lnr lnr-cross"></span>
			a(href="#!")
				img(src="img/popup.jpg", alt="")